.contenedor-productos {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
}

.producto{
    text-align: center;
    border-radius: 2%;
    overflow: hidden;
    background-color: gray;
}

img{
    width: 100%;
}

#main-header {
  display: grid;
  justify-content: center;
  text-align: center;
}

.logo {
  height: 40px;
}

.slogan {
  
  
  color: #333;
}

.menu{
  display: flex;
  gap: 20px;
  
}
a{
  text-decoration: none;
}