.contenedor-productos {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
}

.producto{
    text-align: center;
    border-radius: 2%;
    overflow: hidden;
    background-color: gray;
}

img{
    width: 100%;
}